* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body, h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-style: inherit;
}

.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 100px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1250px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.header__container-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  margin-top: 10px;
  width: 80px;
  height: 80px;
}

.menu {
  background-color: #ffffff;
}
.menu ul {
  display: flex;
  flex-direction: row;
}
.menu ul li {
  display: flex;
  align-items: center;
  padding: 0 14px;
  margin-left: 8px;
  justify-content: center;
}
.menu ul li:first-child {
  margin-left: 0;
}
.menu ul li:last-child {
  width: 140px;
  height: 40px;
  background-color: #337ab7;
  border-radius: 30px;
}
.menu ul li:last-child a {
  color: #ffffff;
}
.menu ul li:last-child a:hover {
  color: #ffffff;
}
.menu ul li:last-child:hover {
  background-color: #285f8f;
}
.menu ul li a {
  font-size: 15px;
  color: #666666;
}
.menu ul li a:hover {
  color: #337ab7;
}
.menu ul li:hover {
  background-color: #f4f4f4;
}

.burger {
  display: none;
  background-color: #337ab7;
  width: 42px;
  height: 32px;
  border-radius: 5px;
  cursor: pointer;
}
.burger .burger__line {
  width: 22px;
  height: 2px;
  background-color: #fff;
  margin: 4px 10px 0 10px;
}
.burger .burger__line:first-child {
  margin-top: 9px;
}

.content {
  padding-top: 100px;
  height: 765px;
  width: 100%;
  background-color: #f7f7f7;
}
.content__container {
  height: 100%;
  max-width: 1250px;
  margin: auto;
  padding: 0 15px;
}
.content__container-left {
  width: 600px;
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }
  .menu {
    display: none;
  }
}
.menu.active {
  width: 100%;
  height: 260px;
  display: flex;
  position: absolute;
  justify-content: center;
  left: 0;
  top: 100px;
}
.menu.active ul {
  flex-direction: column;
}
.menu.active ul li {
  width: 140px;
  margin: 20px 0 0 0;
  padding: 0;
}
.menu.active ul li:first-child {
  margin-top: 0;
}
.menu.active ul li:last-child {
  margin-top: 10px;
}

@media (max-width: 425px) {
  .menu.active {
    height: 260px;
    top: 70px;
  }
  .menu.active ul li {
    font-size: 14px;
  }
  .menu.active ul li:first-child {
    margin-top: 3px;
  }
  .menu.active ul li:last-child {
    margin-top: 10px;
  }
  .header {
    height: 70px;
  }
  .header__logo {
    width: 60px;
    height: 60px;
    margin-top: 5px;
  }
}
/*# sourceMappingURL=style.css.map */
