.content{
  padding-top: 100px;
  height: 765px;
  width: 100%;
  background-color: #f7f7f7;

  &__container{
    display: flex;
    flex-direction: row;
    height: 100%;
    max-width: 1250px;
    margin: auto;
    padding: 0 15px;

    &-left{
      width: 50%;
      margin: 215px 0 0 37px;
      padding-right: 0;

      h1{
        width: 100%;
        font-size: 35px;
        letter-spacing: 1px;
        line-height: 35px;
      }
      p{
        max-width: 500px;
        font-size: 18px;
        letter-spacing:0;
        line-height: 32px;
        font-weight: 100;
        text-align: center;
        margin: 35px 0 0 18px;
      }
    }
    &-right{
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: 55px 0 0 0;

      .content__title{
        width: 100%;
        letter-spacing: 2px;
        font-size: 20px;
      }

      .form{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        &__submit{
          &-btn{
            height: 50px;
            width: 370px;
            border-radius: 25px;
            color: white;
            background-color: $btn-color-blue;
            font-size: 13px;
            letter-spacing: 1px;
            margin: 30px 15px 0 15px;
            font-weight: 1000;
            text-transform: uppercase;
          }
        }
        &__field{
          width: 100%;
          height: max-content;
          margin-top: 2px;

          &:nth-child(6){
            margin-top: 15px;
            height: max-content;
          }
        }
        &__label{
          display: flex;
          align-items: center;
          margin: 1px 0 5px 0;
          height: max-content;
          width: 100%;
          font-size: 15px;
          letter-spacing: 0;

          &.first{
            margin-top: 10px;
          }
        }
        &__input{
          width: 100%;
          height: 50px;
          border: #bababa 1px solid;
          border-radius: 5px;
          padding: 10px;
        }
        &__star{
          color: red;
          padding: 6px 0 0 1px;
        }
        &__checkbox{
          display: flex;
          &-text{
            width: 100%;
            align-items: center;
            font-size: 14px;
            margin-left: 7px;

            a{
              padding: 0 2px;
            }
          }
        }
      }
    }
  }
}