@font-face{
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans_Condensed-Light.ttf") format('truetype');
  src: url("../fonts/OpenSansCondensed-Light.woff");
  font-weight: normal;
  font-style: normal;
}