.header{
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 100px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  &__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1250px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
    &-right{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__logo{
    margin-top: 10px;
    width: 80px;
    height: 80px;
  }
}

@import "menu";
@import "burger";